@page "/location/{LocationId}/edit"
<h3>Edit Location</h3>
<LocationEditForm LocationId="long.Parse(LocationId)"></LocationEditForm>

@code {
    [Parameter]
    public string LocationId { get; set; }
}