@using RapidGuestRegistration.Client.Model
@using RapidGuestRegistration.Client.Api
@inject IDefaultApi Api

<div class="col-12">
    <div class="card mb-1">
        <div class="card-header">
            <div class="input-group h-100">
                <input id="name" class="mr-1" placeholder="Booking Order" @bind="@_booking.Name" />
                <button class="btn btn-primary mr-1 float-right" @onclick="AddBooking">Add</button>
            </div>
        </div>
    </div>
</div>

@code {
    private Booking _booking;

    [Parameter]
    public EventCallback OnBookingsChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _booking = new Booking();
    }

    private async void AddBooking()
    {
        Api.AddBooking(_booking);
        await OnBookingsChanged.InvokeAsync(_booking);
    }

}