
@using RapidGuestRegistration.Client.Model
@using RapidGuestRegistration.Client.Api
@using RapidGuestRegistration.Client.Client

@inject IDefaultApi Api
@inject NavigationManager NavigationManager

@if (_booking != null)
{
    <EditForm Model="@_booking" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="name" @bind-Value="_booking.Name" />

        <button class="btn btn-primary" type="submit">Save</button>
    </EditForm>
}
else
{
    <div class="alert alert-danger">
        <strong>Error:</strong> Could not find the location with the ID @BookingId, maybe it has been deleted?
    </div>
}

@if (_showUpdateError)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> Something went wrong when updating this location. Does it still exist?
        <button type="button" class="close" @onclick="() => _showUpdateError = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code {

    [Parameter]
    public long BookingId { get; set; }



    private Booking _booking;
    private bool _showUpdateError;

    protected override void OnInitialized()
    {
        try
        {
            _booking = Api.GetBooking(BookingId);
        }
        catch (ApiException e)
        {
            Console.WriteLine(e);
            _booking = null;
        }

        base.OnInitialized();
    }

    private void HandleValidSubmit()
    {
        try
        {
            Api.UpdateBooking(_booking);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _showUpdateError = true;
            return;
        }
        NavigationManager.NavigateTo("/");
    }

}