
@inject NavigationManager NavigationManager


<h1>Dashboard</h1>
<button class="btn btn-primary mr-1 float-right" @onclick="GotoLocations">Goto Locations</button>
<br />
<button class="btn btn-primary mr-1 float-right" @onclick="GotoBookings">Goto Bookings</button>
<br />
<button class="btn btn-primary mr-1 float-right" @onclick="CheckoutHeatmap">Checkout Heatmap</button>
<br />
<button class="btn btn-primary mr-1 float-right" @onclick="GenerateReport">Generate Report</button>
<br />
<button class="btn btn-primary mr-1 float-right" @onclick="GotoUsers">Goto Users</button>


@code {
    private void GotoLocations()
    {

        NavigationManager.NavigateTo("/locations");
    }

    private void GotoBookings()
    {

        NavigationManager.NavigateTo("/bookings");
    }

    private void CheckoutHeatmap()
    {

        NavigationManager.NavigateTo("/heatmap");
    }

    private void GenerateReport()
    {

        NavigationManager.NavigateTo("/report");
    }

    private void GotoUsers()
    {

         NavigationManager.NavigateTo("/users");
    }

}