@using RapidGuestRegistration.Client.Model
@using RapidGuestRegistration.Client.Api
@using RapidGuestRegistration.Client.Client

@inject IDefaultApi Api
@inject NavigationManager NavigationManager

@if (_location != null)
{
<EditForm Model="@_location" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<fieldset>
		<label for="name">Name:</label>
		<br />
		<InputText id="name" @bind-Value="_location.Name" style="margin-bottom:10px"/>
		<br />
		<label for="street">Street:</label>
		<br />
		<InputText id="street" @bind-Value="_location.Street" style="margin-bottom:10px" />
		<br />
		<label for="postcode">Postcode:</label>
		<br />
		<InputText id="postcode" @bind-Value="_location.Postcode" style="margin-bottom:10px"/>
		<br />
		<label for="city">City:</label>
		<br />
		<InputText id="city" @bind-Value="_location.City" style="margin-bottom:10px"/>
		<br />
		<label for="land">Land:</label>
		<br />
		<InputText id="land" @bind-Value="_location.Land" style="margin-bottom:10px"/>
		<br />
		<label for="phoneNumber">PhoneNumber:</label>
		<br />
		<InputText id="phoneNumber" @bind-Value="_location.PhoneNumber" style="margin-bottom:10px"/>
		<br />
		<label for="email">Email:</label>
		<br />
		<InputText id="email" @bind-Value="_location.Email" style="margin-bottom:10px"/>
		<br />
	</fieldset>
		<button class="btn btn-primary" type="submit">Save</button>
</EditForm>    
}
else
{
    <div class="alert alert-danger">
        <strong>Error:</strong> Could not find the location with the ID @LocationId, maybe it has been deleted?
    </div>
}

@if (_showUpdateError)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> Something went wrong when updating this location. Does it still exist?
        <button type="button" class="close" @onclick="() => _showUpdateError = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code {

    [Parameter]
    public long LocationId { get; set; }

    private Location _location;
    private bool _showUpdateError;

    protected override void OnInitialized()
    {
        try
        {
            _location = Api.GetLocation(LocationId);
        }
        catch (ApiException e)
        {
            Console.WriteLine(e);
            _location = null;
        }
        
        base.OnInitialized();
    }

    private void HandleValidSubmit()
    {
        try
        {
            Api.UpdateLocation(_location);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _showUpdateError = true;
            return;
        }
        NavigationManager.NavigateTo("/");
    }

}