@using RapidGuestRegistration.Client.Model
@using RapidGuestRegistration.Client.Api
@inject IDefaultApi Api
@inject NavigationManager NavigationManager
<div class="col-12">
    <div class="card mb-1">
        <div class="card-header">
            <div class="input-group h-100">
                <!-- <input id="name" class="mr-1" value="@Location.Name"/> -->
                <h4 class="align-middle mr-1">@Location.Name</h4>
                <button class="btn btn-primary mr-1 float-right" @onclick="NavigateToEdit">Edit</button>
                <button class="btn btn-outline-danger mr-1 float-right" @onclick="DeleteLocation">Delete</button>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public Location Location { get; set; }
    
    [Parameter]
    public EventCallback OnLocationsChanged { get; set; }
    
    private async Task DeleteLocation()
    {
        var location = Api.LocationLocationIdDelete(Location.Id);
        await OnLocationsChanged.InvokeAsync(location);
    }

    private async Task NavigateToEdit()
    {
        NavigationManager.NavigateTo($"/location/{Location.Id}/edit");
    }
}