@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<a href="@_link">
    <QrCode Text="@_link"></QrCode>
</a>


@code {
    [Parameter] public long TableId { get; set; }
    [Parameter] public long LocationId { get; set; }
    private string _link;
    
    protected override void OnInitialized()
    {
        var baseUrl = Configuration.GetSection("registration").GetValue<string>("baseUrl");
        _link = $"{baseUrl}/locations/{LocationId}/table/{TableId}/register";
    }
    
}