@using RapidGuestRegistration.Client.Model
@using RapidGuestRegistration.Client.Api
@using RapidGuestRegistration.Ui.Data 
@inject IDefaultApi Api
@inject NavigationManager NavigationManager
<div class="col-12">
	<div class="card mb-1">
		<div class="card-header">
			<div class="input-group h-100">
				<!-- <input id="name" class="mr-1" value="@Location.Name"/> -->
				<h4 class="align-middle mr-1">@User.Name</h4>
				<button class="btn btn-primary mr-1 float-right" @onclick="NavigateToEdit">Edit</button>
				<button class="btn btn-outline-danger mr-1 float-right" @onclick="DeleteUser">Delete</button>
			</div>

		</div>
	</div>
</div>

@code {
	[Parameter]
	public GuestEditModel User { get; set; }

	[Parameter]
	public EventCallback OnUserChanged { get; set; }

	private async Task DeleteUser()
	{
		var user = new GuestEditModel();
		await OnUserChanged.InvokeAsync(user);
	}

	private async Task NavigateToEdit()
	{
		NavigationManager.NavigateTo($"/user/{User.Email}/edit");
	}
}