@using RapidGuestRegistration.Client.Model
@using RapidGuestRegistration.Client.Api
@inject IDefaultApi Api
<h3>Users</h3>


@foreach (var user in _users)
{
	<div class="row">
		<UserDisplay User="@user" OnUserChanged="@UpdateUsers"></UserDisplay>
	</div>
}

<h3>Add User</h3>
<div class="row">
	<UserCreate OnUsersChanged="@UpdateUsers"></UserCreate>
</div>

@code {
	private List<User> _users;

	protected override void OnInitialized()
	{
		_users = Api.GetUsers() ?? new List<User>();
	}

	private void UpdateUsers()
	{
		_users = Api.GetUsers() ?? new List<User>();
	}
}